.each-service {
  text-align: center;
  color: black;
  margin-bottom: 20px;
  padding: 50px 30px;
  border: 1px solid #aaa;
  border-radius: 4px;
  height: 350px;
}

.each-service:hover h4 {
  color: black;
}

.each-service i {
  font-size: 4em;
  padding-bottom: 50px;
}

.each-service:hover, .each-service:hover h4 {
  color: white;
  background: #337ab7;
  cursor: pointer;
}